*{margin: 0;padding: 0;}
    .full-website{
            text-align: center;
            color:rgb(255, 251, 251);
            width: 1024px;
            margin: 20px auto;
            box-shadow: 1px 1px 6px rgba(0,0,0,.4);}
                 .menu{
                    background: hsl(66, 94%, 65%);
                    color: black;
                 }
                 .benner{}
                 img{
                    max-width: 100%;
                    margin-bottom: -5px;
                 }
                 .container{
                    background: #6399fd;
                 }
                 .futer{
                    background-color: #0a4c8d;
                 }
                 .futer-bottom{
                    background: #2c3e50;
                 }
                 .op{
                    padding: 40px 0;
                 }
                 .opx{padding: 100px 0;}
                 .menu{
                 text-align: left;
                 padding-left: 20px;
                 }
                 
            .hydra{
                margin-top: -70px;
              margin-left: 55%;}
            .hydra li{
            margin-top: 20px;
            margin-left: -5px;
            display: inline-block;
            } 
            .hydra li a{
            color: rgb(8, 8, 8);
            padding: 10px;
            display: inline-block;
            text-decoration: none;
            }
            .dvd{
                margin-left: 5px;
            }
            p{ text-transform: capitalize;
                line-height: 25px;
            }