body,h1,h2,h3,h4,h5,h6,p,a,span{
    font-family: 'Work Sans', sans-serif;

}
h1,h2,h3,h4,h5,h6{
    color: #000;
}
img{
    max-width: 100%;
}
.min-section-bg{
    background-color:#f7f9ff;
    padding: 100px 0;
}
a{
    text-decoration: none;
}

/* header section */

.bg-white{
    background-color: #fff !important;
    }
    .my-shadow{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.05) !important;
    }
    
    
    
    .header-logo{
      width: 311px;
    }
    
    .header-logo a img{
      width: 45px;
    }
    .header-logo a span{
      font-size: 25px;
    font-weight: 500;
    color: #000;
    padding-top: 1px;
    display: inline-block;
    transition: .4s;
    
    }
    .header-logo a span:hover{
      color: #726e6e79;
    }
    .header-menu{
      width: 408px;
    margin-left: 137px;
    }
    
    .header-menu ul{
      list-style: none;
    }
    
    .header-menu ul li{
    display:inline-block;
    position: relative;
    }
    .header-menu ul li a {
      display: block;
      padding: 0px 15px;
      line-height: 58px;
      color: #000;
    }
    
    .header-menu ul li ul{
      position: absolute;
    
      padding-left: 0;
      top: 100%;
      left: 0;
      width: 225px;
      background-color: #fff;
      opacity: 0;
      visibility: hidden;
      transition: .4s;
    }
    .header-menu ul li ul li{
      border-bottom: 1px solid #ddd;
      display:block;
      height: 50px;
    }
    .header-menu ul li:hover ul{
    opacity: 1;
    visibility: visible;
    }
    .header-menu ul li a:hover{
      color: cornflowerblue;
    }
    .header-button{
      margin-left: 371px;
    }
    
    .header-btn{
      display: inline-block;
      border: 2px solid #6278df;
      padding: 10px 30px;
      border-radius: 10px;
      color: #6278df;
      font-weight: 600;
      font-size: 15px;
      margin-top: 10px;
    }
    .header-btn:hover{
      background: #6278df;
      color: #fff;
      box-shadow:4px 4px 20px 0 rgba(86, 107, 201, 0.8);
    }

/* first-header-section */
.header-title h1 {
    font-size: 63px;
    font-weight: 700;
    text-align: center;
    padding-top: 50px;
    color: #000;
  }

  /* profile-section */

.profile-section h1 {
    font-size: 48px;
    font-weight: 400;
}
.profile-section h4 {
    font-size: 27px;
    font-weight: 200;
    margin-top: 30px;
  }
.profile-item {
    transition: .4s;
    position: relative;
}
.profile-item ::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color:rgba(86, 107, 201,0.8);
    opacity: 0;
    visibility: hidden;
    transition: .4s;
}

.profile-item:hover.profile-item ::after {
   
  opacity: 1;
  visibility: visible;
}


/* video-section */

.video-section{
    padding: 100px 0;
}
.video-content h1 {
    font-size: 45px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 22px;
  }
  .video-content p {
    font-size: 22px;
    color: #767676;
    font-weight: 300;
  }
/* footer-section */

.footer-section{
    background-color: #f7f9ff;
    padding: 20px 0;
}
.footer-section p{
    font-size: 20px;
}